h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    color: yellow;
}
body{
    font-size: 16px;
}
ul{
    background-color: rgb(226, 214, 43);
    text-align: center;
    text-decoration: underline;
    line-height: 200%;
    color: white;
}

.novas-cores {
    background-color: blueviolet;
}
